<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

      <div class="panel panel-primary" *ngIf="user">
        <div class="panel-heading">
          <h3 class="panel-title">{{user.firstName}} {{user.middleName}} {{user.lastName}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " *ngIf="user.image==null;else userImage" align="center">
              <img alt="User Pic" *ngIf="user.gender=='M'" src="../../../assets/img/user_profile_male.jpg" class="img-circle img-responsive">
              <img alt="User Pic" *ngIf="user.gender=='F'" src="../../../assets/img/user_profile_female.jpg" class="img-circle img-responsive">
              <img alt="User Pic" *ngIf="user.gender=='O'" src="../../../assets/img/user-default.png" class="img-circle img-responsive">
            </div>

            <ng-template #userImage>
              <div class="col-md-3 col-lg-3 " align="center">
                <img alt="User Pic" [src]="user.image" class="img-circle img-responsive">
              </div>
            </ng-template>

            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Username:</td>
                    <td>{{user.username}}</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td>{{user.email}}</td>
                  </tr>
                  <tr>
                    <td>Date of Birth:</td>
                    <td>{{user.birthdate}}</td>
                  </tr>
                  <tr>
                    <td>Gender:</td>
                    <td>{{user.gender}}</td>
                  </tr>
                  <tr *ngIf="user.address!=null">
                    <td>Address:</td>
                    <td>

                      {{user.address.streetAddress}}, {{user.address.city}}, {{user.address.state}} {{user.address.postalCode}}, {{user.address.country}}

                    </td>
                  </tr>
                  <tr *ngIf="user.address!=null">
                    <td colspan="2">
                      <sebm-google-map [latitude]="user.address.latitude" [longitude]="user.address.longitude" [scrollwheel]="false" [zoom]="14">
                        <sebm-google-map-marker [latitude]="user.address.latitude" [longitude]="user.address.longitude"></sebm-google-map-marker>
                      </sebm-google-map>
                    </td>
                  </tr>
                  <tr>
                    <td>Admin</td>
                    <td>{{user.admin}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
          <span class="pull-right">
                            <a data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
        </div>
      </div>
    </div>
  </div>
</div>