<div class="jumbotron text-center">
  <h2>List of all registered users</h2>
</div>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | paginate: { id:'user', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: total}; let i=index"
      class="{{(i%2)?'info':''}}">
      <td>{{(itemsPerPage * (currentPage - 1)) + (i+1)}}.</td>
      <td>{{user.firstName}} {{user.middleName}} {{user.lastName}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.birthdate}}</td>
      <td>{{user.gender}}</td>
      <td>
        <a target="_blank" href="https://www.google.com.au/maps/@{{user.address.latitude}},{{user.address.longitude}},15z">
          <!--"onClick(user.address.latitude,user.address.longitude)"-->
          {{user.address.streetAddress}}, {{user.address.city}}, {{user.address.state}} {{user.address.postalCode}}, {{user.address.country}}
        </a>
      </td>
    </tr>
    <tr class="text-center">
      <td colspan="7">
        <div>
          <pagination-controls [maxSize]="maxSize" (pageChange)="getData($event)" id="user"></pagination-controls>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!--<button (click)="onClick()">Alert</button>-->